/*Do sidebara*/

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(images.png);
    background-size: cover;
  }
  
.sidebar {
    background-color: #333;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
.sidebar ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
.sidebar ul li {
    margin-right: 10px;
  }
  
.sidebar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
  }
  
.sidebar ul li a:hover {
    color: #ff8c00;
  }

/*Do obrazu i tekstu*/





.cos1 {
  padding: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/*Do przycisku*/

.przycisk {
  padding: 10px;
  background-color: grey;
  color: #333;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 27px;
  font-weight: bold;
  }
  
  .przycisk:hover {
  background-color: rgb(153, 153, 153);
  }
  
/*Do obrazu i tekstu*/

.cos2 {
  padding: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.obrazek1, .obrazek2{
  border: 2px solid   grey;
}

.tekst1 {
  padding: 0;
  border: 3px solid black;  
  width: 698px;
  border-radius: 0 0 10px 10px;
  font-size: 18px;
  text-align: center;
  text-shadow: 2px 2px 3px #333;
}

.tekst2 {
  padding: 0;
  border: 3px solid black;  
  width: 698px;
  border-radius: 0 0 10px 10px;
  font-size: 18px;
  text-align: center;
  text-shadow: 2px 2px 3px #333;
}