/*Do sidebara*/

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url(images.png);
  background-size: cover;
  color: #333;
  flex-direction: column;
}

.sidebar {
  background-color: #333;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.sidebar ul li {
  margin-right: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
}

.sidebar ul li a:hover {
  color: #ff8c00;
}

  

/*Do formularza*/

.form-container {
    text-align: center;
    margin: 0 auto;
    max-width: 450px;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid black;
    margin-top: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 25px;
  }
  
  label {
    font-size: 18px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid grey;
    border-radius: 5px;
  }
  
  button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: black;
  }
  