/*Do sidebara i stopki*/

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: whitesmoke;
}

.sidebar {
  background-color: #333;
  padding: 15px;
  display: flex;
  justify-content: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.sidebar ul li {
  margin-right: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.sidebar ul li a:hover {
  color: #ff8c00;
  transition: 0.3s;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/*Przycisk*/

.cos2 {
  display: flex;
  justify-content: center;
}

.przycisk2 {
  padding: 10px;
  background-color: grey;
  color: whitesmoke;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 27px;
  font-weight: bold;
  width: 175px;
}

.przycisk2:hover {
  color: #ff8c00; 
  transition: 0.3s;
}

/*Do obrazu i tekstu*/

.cos1 { 
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
}

.obraz1 {
  border: 2px solid black;  
  border-radius: 15px;
  text-align: center;
}

.obraz1:hover {
  filter: brightness(5);
  transition: 1s;
}

.tekst1 {
  padding: 5px; 
  border: 3px solid black;  
  margin-top: 10px;
  border-radius: 15px;
  font-size: 18px;
  text-align: center;
  width: 38vw;
  text-shadow: 2px 1px 4px grey;
  height: 20%;
}

.tekst1:hover {
  background-color: rgb(167, 167, 167);
  transition: 0.2s;
}

/*Rensponswość obrazów*/

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; 
  border-radius: 15px;
  border: 2px solid #333;
}

/*Przycisk od koloru i form*/

.button {
  padding: 5px;
  background-color: grey;
  color: whitesmoke;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.button:hover {
  color: #ff8c00;
  transition: 0.3s;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}