/*Do sidebara*/

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url(images.png);
  background-size: cover;
  color: #333;
  flex-direction: column;
}

.sidebar {
  background-color: #333;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.sidebar ul li {
  margin-right: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: white;
  font-size: 22px;
}

.sidebar ul li a:hover {
  color: #ff8c00;
  transition: 0.3s;
}

/*Rensponswość obrazów*/

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; 
  border-radius: 15px;
}

/*Do histori kopic zdj lub tekst*/

.cos1, .cos2, .cos3, .cos4, .cos5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.obraz1, .obraz2, .obraz3, .obraz4, .obraz5 {
  padding: 5px; 
  border: 3px solid black;  
  margin-top: 10px;
  border-radius: 15px;
  font-size: 18px;
  text-align: center;
  width: 38vw;
}

.obraz1:hover, .obraz2:hover, .obraz3:hover, .obraz4:hover, .obraz5:hover {
  background-color: grey;
  transition: 0.2s;
}

.tekst1, .tekst2, .tekst3, .tekst4, .tekst5 {
  padding: 5px; 
  border: 3px solid black;  
  margin-top: 10px;
  border-radius: 15px;
  font-size: 18px;
  text-align: center;
  width: 38vw;
  text-shadow: 2px 1px 4px black;
}

.tekst1:hover, .tekst2:hover, .tekst3:hover, .tekst4:hover, .tekst5:hover {
  background-color: rgb(182, 182, 182);
  transition: 0.2s;
}